{{#each this}}
	<li class='movie' id={{id}}>
		<img class='movie_image' src={{poster}} alt='poster' loading='lazy' />
		<h2 class='movie_title'>{{original_title}}</h2>
		<p class='movie_text'>{{release_date}}</p>
	</li>
{{/each}}