.movie_list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
}

.movie.container {
	padding-top: 60px;
}

.movie {
	position: relative;
	&_image {
		border-radius: 5px;
		width: 274px;
		height: 398px;
	}
	&_title {
		margin-top: 10px;
		font-weight: 500;
		font-size: 12px;
		line-height: calc(16 / 12);
		text-transform: uppercase;
		font-weight: bold;
	}
	&_text {
	}
	&_rating {
		@include centralFlex();
		position: absolute;
		color: aqua;
		top: 20px;
		left: 20px;
		font-size: 20px;
		color: var(--first-text-color);
		background-color: rgb(39, 34, 34);
		width: 45px;
		height: 45px;
		border-radius: 50%;
		border: 3px solid;
	}
	&_rating--red {
		border-color: red;
	}
	&_rating--orange {
		border-color: orange;
	}
	&_rating--green {
		border-color: green;
	}
}
